/data
/svgs
/public/data/svgs
/public/data/wfs
/public/data/mvt
__pycache__/
*.py[cod]
.venv
.env.local

node_modules
target
dist
logs
# public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log

# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
dist/
build/

# Design files
# public/design/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env_variables.yaml
road-sign-factory-*.json
credentials/*.json

# AdSense
# ads.txt

# Exports
export/

source

# firebase
firebaseConfig.js